<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Carnisseria</title>
  </head>
  <body>
    <h1>Botiga</h1>
    <header id="main-header">
  		<nav>
              {% block sidebar %}
                  <ul>
                      <li><a class="site-name" href="/carns">CARNS</a></li>
                      <li><a class="site-name" href="/precuinats">PRECUINATS</a></li>
                  </ul>
              {% endblock %}
  		</nav><!-- / nav -->
  </header>
  <section id="main-content">
		<article>
			<header>
				{% block header %}<h1>Informació botiga</h1> {% endblock %}
			</header>
      <table border="1" width="1000">
        <tr>
          <td>Nif</td>
          <td>Nom</td>
          <td>Carrer</td>
          <td>Numero</td>
          <td>Ciutat</td>
          <td>Codi Postal</td>
          <td>Provincia</td>
          <td>Pais</td>
          <td>Telefon</td>
        </tr>

        {% for botiga in botiga %}
        <tr>
            <td>{{botiga.Nif}}</td>
            <td>{{botiga.name}}</td>
            <td>{{botiga.street}}</td>
            <td>{{botiga.number}}</td>
            <td>{{botiga.city}}</td>
            <td>{{botiga.zipCode}}</td>
            <td>{{botiga.stateOrProvince}}</td>
            <td>{{botiga.country}}</td>
            <td>{{botiga.telephone}}</td>
        </tr>
        {% endfor %}


			</div>

		</article> <!-- /article -->

</section>

  </body>
</html>
